<link rel="stylesheet" href="/css/capacitacion/listarcapa.css">

<!-- tablas-->
<form action="/usuario/listar/{{user.id_usuario}}" method="get">
    <div id="container">

            <div class="background">

            </div>
            
            {{#each lista}}
            

                <div class="name" id="id_capacitacion">
                   <div class="bloque">{{nombres}}</div> 
                </div>

                    <br>

                <div class="about"id="codigo">
                    <div class="bloque">{{descripcion}}</div> 
                </div>

<br>
                <div class="buttons"id="boton">
                    <a href="/usuario/editar/{{id_capacitacion}}" ><button type="button">Editar</button></a> 
                </div>
                <br>

                <div class="buttons"id="eliminar">
                <a href="/usuario/eliminar/{{id_capacitacion}}" ><button type="button">Eliminar</button></a> 
                </div>

            
            {{/each }}
            </div>
    </div>
</form>