<link rel="stylesheet" href="/css/video/listar.css"/><!--/css/capacitacion/listarcapa.css-->

<!-- tablas-->
<form action="/capacitacion/listar/{{user.id_usuario}}" method="get">
    <div id="container">

            <div class="row">

            {{#each lista}}
            
                <div id="id_capacitacion">
                    <h3 style="text-align:center" >DESCRIPCIÓN - CAPACITACIÓN</h3>
                   <p><strong>Nombre</strong> <br>{{nombres}}</p>
                </div>

                    <br>

                <div id="codigo">
                    <p><strong>Descripción</strong> <br>{{descripcion}}</p>
                </div>

                <div id="estado">
                    <p><strong>Estado</strong> <br>{{estado}}</p>
                </div>

                <br>
                <div id="boton">
                    <a href="/capacitacion/editar/{{id_capacitacion}}"><button type="button">Editar</button></a> 
                </div>
                <br>

                <div id="eliminar">
                <a href="/capacitacion/eliminar/{{id_capacitacion}}" ><button type="button">Eliminar</button></a> 
                </div>

            
            {{/each }}
            </div>
    </div>
</form>