<link rel="stylesheet" href="/css/video/listar.css"/> 

<form action="/usuario/listar/{{user.id_usuario}}" method="get">
    <div id="container">

            <div class="row"> 
            {{#each lista}}
            
                <div id="tarjeta">
                   <p>{{nombre}}</p>
                </div>

                    <br>

                <div id="estado">
                   <p>{{estado}}</p>
                </div>

                <br>

                <div id="boton">
                    <div id="editar">
                          <a href="/tipoCapacitacion/editar/{{id_tipoCapacitacion}}"><button type="button">Editar</button></a> 
                    </div>
                    <br>

                    <div id="eliminar">
                          <a href="/usuario/eliminar/{{id_tipoCapacitacion}}" ><button type="button">Eliminar</button></a> 
                    </div>
                </div>

            {{/each }}
            </div>
    </div>
</form>