<link rel="stylesheet" href="/css/capacitacion/listarcapa.css"> 

<form action="/usuario/listar/{{user.id_usuario}}" method="get">
    <div id="container">

            <div class="background"> 
            {{#each lista}}
            
                <div class="name" id="tarjeta">
                   <div class="bloque" id="id_tipoCapacitacion">{{nombre}}</div> 
                </div>

                    <br>

                <div id="estado">
                    <div class="bloque">{{estado}}</div> 
                </div>

                <br>

                <div id="boton">
                    <div id="editar">
                          <a href="/tipoCapacitacion/editar/{{id_tipoCapacitacion}}"><button type="button">Editar</button></a> 
                    </div>
                    <br>

                    <div id="eliminar">
                          <a href="/usuario/eliminar/{{id_tipoCapacitacion}}" ><button type="button">Eliminar</button></a> 
                    </div>
                </div>

            {{/each }}
            </div>
    </div>
</form>