<link rel="stylesheet" href="/css/partials/navegacion.css">
{{#if user}}

<div id="cierra">
    <button type="button">
        <img src="/css/partials/navegacion.css" onclick="menus.botonMenu()">
    </button>
</div>

<nav id="nav">
    <div id="img">
        <a href="/Inicio"><img src="/src/public/img/logoprincipal.jpg"></a>
    </div>
        
    <div id="kidhelped">
        <a href="/"><b>Kid Helped</b></a> 
    </div>

    <div id="capacitacion">
        <a href="/capacitacion/agregar/{{user.id_usuario}}">Capacitacion</a>
    </div>

    <div id="tipoCapacitacion">
        <a href="/tipoCapacitacion/listar/{{user.id_usuario}}">Tipo de Capacitacion</a>
    </div>

    <div id="video">
        <a href="/video/{{user.id_usuario}}">Video</a>
    </div>

    <div id="ubicacion">
        <a href="/ubicacion/{{user.idPaciente}}">Ubicación</a>
    </div>

    <div id="Contactos">
        <a href="/contactos/lista/{{user.idPaciente}}">Mis Contactos</a>
    </div>

    <div id="Cierre">
        <a href="/CerrarSesion"><button>Cerrar Sesión</button></a>
    </div>
</nav>
{{/if}}

<div id="hamburguesa">
    <button type="button">
        <img src="/img/usuarios/cross.png" onclick="menus.aparicion()">
    </button>
</div>

<script src="/js/navegacion.js"></script>