<link rel="stylesheet" href="/css/video/listar.css"/>
<form action="/comentario/listar/{{user.id_usuario}}" method="get">
    <div id="container">

     <div id="container">
    <div class="row">
        {{#each lista}}
        <div id="tarjeta">
            <div id="comentario">
                <h3 style="text-align:center" >DESCRIPCIÓN - COMENTARIO</h3>
                <p><strong>Comanetario</strong> <br>{{comentario}}</p>
            </div>

            <div id="fecha_puclicacion">
                <p><strong>Fecha de publicación</strong> <br>{{fecha_puclicacion}}</p>
            </div>

            <div id="boton">
                <a href="/comentario/editar/{{id_comentario}}"><button type="button">Editar</button></a> 
            </div>

            <div id="eliminar">
                <a href="/comentario/eliminar/{{id_comentario}}" ><button type="button">Eliminar</button></a> 
            </div>

         <br><br>
   
            {{/each }}
            
    </div>
</form>