<<<<<<< HEAD
<link rel="stylesheet" href="/css/video/editar.css">
=======
<link rel="stylesheet" href="/css/video/agregar.css">
>>>>>>> 146f9ff5868e7f52a8ec831926dfa61c5d56b261
<div id="contenedor">
    {{#each lista}}
    <form action="/video/editar/{{id_video}}" method="post">
    <div id="titulo">
        <p>Agregar Video</p>
    </div>
    <div id="url">
        <label>Url:</label>
<<<<<<< HEAD
        <input type="text" name="url" value="{{url}}" required placeholder="ingrese ">
    </div>
    <div id="descripcion">
        <label>Descripcion del Video:</label>
        <input type="text" name="descripcion" value="{{descripcion}}" required placeholder="ingrese ">
=======
        <input type="text" name="url" value="{{url}}" required>
    </div>
    <div id="descripcion">
        <label>Descripcion del Video:</label>
        <input type="text" name="descripcion" value="{{descripcion}}" required>
>>>>>>> 146f9ff5868e7f52a8ec831926dfa61c5d56b261
    </div>

    <div id="titulo">
        <label>Titulo Video:</label>
<<<<<<< HEAD
        <input type="text" name="titulo" value="{{titulo}}" required  placeholder="ingrese ">
=======
        <input type="text" name="titulo" value="{{titulo}}" required>
>>>>>>> 146f9ff5868e7f52a8ec831926dfa61c5d56b261
    </div>

    <div id="tipo">
        <label>Tipo Video:</label>
<<<<<<< HEAD
        <input type="text" name="tipo" value="{{tipo}}" required placeholder="ingrese ">
=======
        <input type="text" name="tipo" value="{{tipo}}" required>
>>>>>>> 146f9ff5868e7f52a8ec831926dfa61c5d56b261
    </div>

    <div id="boton">
        <button type="submit">Actualizar</button>
    </div>
    </form>
    {{/each}}
</div>