<link rel="stylesheet" href="/css/video/editar.css">
    <div id="contenedor">
        {{#each lista}}
            <form action="/video/editar/{{id_video}}" method="post">
                <div id="titulo">
                    <h2>Actualizar Video</h2>
                </div>
                <div id="url">
                    <label>Url:</label>
                    <input type="text" name="url" value="{{url}}" required placeholder="Ingrese la url.">
                </div>
                <div id="descripcion">
                    <label>Descripción del Video:</label>
                    <input type="text" name="descripcion" value="{{descripcion}}" required placeholder="Ingrese la descripción del video ">
                </div>

                <div id="titulo">
                    <label>Titulo Video:</label>
                    <input type="text" name="titulo" value="{{titulo}}" required placeholder="Ingrese el titulo del video ">
                </div>

                <div id="tipo">
                    <label>Tipo Video:</label>
                    <input type="text" name="tipo" value="{{tipo}}" required placeholder="Ingrese el tipo de video">
                </div>

                <div id="boton">
                    <button type="submit">Actualizar</button>
                </div>
            </form>
        {{/each}}
    </div>