<link rel="stylesheet" href="/css/video/listar.css"/>


<!-- tablas-->
<form action="/video/listar/{{user.id_capacitacion}}" method="get">
    <div id="container">

            <div class="row">

            
            {{#each lista}}
            
                <div id="id_video">
                    <p>{{url}}</p>
                </div>

                    <br>

                <div id="descripcion">
                    <p>{{descripcion}}</p>
                </div>

                <div id="tipo">
                    <p>{{tipo}}</p>
                </div>

                <br>
                <div id="boton">
                    <a href="/video/editar/{{id_video}}"><button type="button">Editar</button></a> 
                </div>
                <br>

                <div id="eliminar">
                <a href="/video/eliminar/{{id_video}}" ><button type="button">Eliminar</button></a> 
                </div>

            
            {{/each }}
            </div>
    </div>
</form>