<link rel="stylesheet" href="/css/objetivo/listar.css"/>


<!-- tablas-->
<form action="/objetivo/listar/{{user.id_usuario}}" method="get">
    <div id="container">

            <div class="row">

            
            {{#each lista}}
            
                <div id="id_objetivo">
                    <p>{{objetivos}}</p>
                </div>

                    <br>

                <div id="redesSociales">
                    <p>{{redesSociales}}</p>
                </div>


                <br>
                <div id="boton">
                    <a href="/objetivo/editar/{{id_objetivo}}"><button type="button">Editar</button></a> 
                </div>
                <br>

                <div id="eliminar">
                <a href="/objetivo/eliminar/{{id_objetivo}}" ><button type="button">Eliminar</button></a> 
                </div>

            
            {{/each }}
            </div>
    </div>
</form>