<link rel="stylesheet" href="/css/video/listar.css" />

<!-- tablas-->
<form action="/videoActividad/listar/{{user.id_actividad}}" method="get">
    <div id="container">

        <div class="row">

            {{#each lista}}

            <div id="id_video">
                 <h3 style="text-align:center" >DESCRIPCIÓN - VIDEO ACTIVIDAD</h3>
                <p><strong>Url:</strong><br>{{url}}</p>
            </div>
            <br>
            
            <div id="titulo">
                <p><strong>Titulo</strong><br>{{titulo}}</p>
            </div>

            <div id="descripcion">
                <p><strong>Descripción</strong><br>{{descripcion}}</p>
            </div>

            <div id="tipo">
                <p><strong></strong><br>{{tipo}}</p>
            </div>

            <br />
            <div id="boton">
                <a href="/videoActividad/editar/{{id_video}}"><button type="button">Editar</button></a>
            </div>
            <br />

            <div id="eliminar">
                <a href="/videoActividad/eliminar/{{id_video}}"><button type="button">Eliminar</button></a>
            </div>

            <br /><br />
            {{/each}}
        </div>
    </div>
</form>