<link rel="stylesheet" href="css/tipo_cliente/cliente-type.css" />

<div class="perfil_container">
    <div class="content"> 
        <h3 class="title">USUARIO</h3>
        <img class="imagen" src="img/auth_user/perfil.png" alt="perfil">
        
        <div class="form-field">
            <label class="label_form"  for="first_name">NOMBRES</label>
            <input class="input-form" id="first_name" name="first_name" type="text" value="{{user.name}}">
        </div>
        <div class="form-field">
            <label class="label_form" for="last_name">APELLIDOS</label>
            <input class="input-form" id="last_name" type="last_name" name="last_name" value="{{user.lastName}}">
        </div>
        <div class="form-field">
            <label class="label_form" for="mail">E-MAIL</label>
            <input class="input-form" id="mail" type="mail" name="mail" value="{{user.mail}}">
        </div>
        <div class="form-field">
            <label class="label_form" for="cellphone">CELULAR</label>
            <input class="input-form" id="cellphone" type="cellphone" name="cellphone" value="{{user.cellphone}}">
        </div>
        <div class="form-field">
            <label class="label_form" for="userName">USER NAME</label>
            <input class="input-form" id="userName" type="text" name="userName" value="{{user.userName}}">
        </div>
        <div class="form-field">
            <label class="label_form" for="typeUser">TIPO DE USUARIO</label>
            <input class="input-form" id="typeUser" type="typeUser" name="typeUser" value="{{user.typeUser}}">
        </div>

    </div>
</div>